In [18]:
import numpy as np
import pandas as pd
import dotenv
import os
from sqlalchemy import create_engine
import psycopg

dotenv.load_dotenv()
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")

## Load the raw Shakespeare data

In [19]:
repo = 'https://github.com/jkropko/DS-6001/raw/master/localdata/'
works = pd.read_csv(repo + 'Works.csv')
characters = pd.read_csv(repo + 'Characters.csv')
chapters = pd.read_csv(repo + 'Chapters.csv')
paragraphs = pd.read_csv(repo + 'Paragraphs.csv')


characters.columns = characters.columns.str.lower() 
chapters.columns = chapters.columns.str.lower()
paragraphs.columns = paragraphs.columns.str.lower()
works.columns = works.columns.str.lower()


charworks = characters[['charid', 'works']]
charworks.loc[:,'works'] = charworks['works'].str.split(',')
charworks = charworks.explode('works')
charworks = charworks.rename({'works':'workid'}, axis=1)
characters = characters.drop('works', axis=1)

#Removes empty rows
chapters = chapters.query("~chapterid.isnull()")
paragraphs = paragraphs.query("~paragraphid.isnull()")
charworks = charworks.query("~workid.isnull()")


paragraphs = pd.merge(paragraphs, 
                      chapters.drop('description', axis=1),
                      how='inner', 
                      on=['workid', 'section', 'chapter'])


paragraphs = paragraphs.drop(['paragraphtype', 'section', 'chapter'], 
                             axis=1)

## Connect to Postgres server, create an *empty* Shakespeare DB (do this ONE time only)

In [20]:
dbserver = psycopg.connect(
    user='postgres', 
    password=POSTGRES_PASSWORD,
    host='localhost',
    port = '5432')

dbserver.autocommit = True

In [21]:
cursor = dbserver.cursor()
try:
    cursor.execute('CREATE DATABASE shakespeare')
except:
    cursor.execute('DROP DATABASE shakespeare')
    cursor.execute('CREATE DATABASE shakespeare')

## Create the SQLAlchemy engine

In [22]:
dbms = 'postgresql'
package = 'psycopg'
user = 'postgres'
password = POSTGRES_PASSWORD
host = 'localhost'
port = '5432'
db = 'shakespeare'

engine = create_engine(f"{dbms}+{package}://{user}:{password}@{host}:{port}/{db}")
engine

Engine(postgresql+psycopg://postgres:***@localhost:5432/shakespeare)

## Put the data into the empty Shakespeare DB (do this ONE time only)

In [23]:
works.to_sql("works", con=engine, if_exists="replace", index=False, chunksize=1000)
characters.to_sql("characters", con=engine, if_exists="replace", index=False, chunksize=1000)
chapters.to_sql("chapters", con=engine, if_exists="replace", index=False, chunksize=1000)
paragraphs.to_sql("paragraphs", con=engine, if_exists="replace", index=False, chunksize=1000)
charworks.to_sql("charworks", con=engine, if_exists="replace", index=False, chunksize=1000)

-2

## Ready to work with SQL

In [24]:
myquery = '''
SELECT *
FROM characters
'''

pd.read_sql_query(myquery, con=engine)

,charid,charname,abbrev,description,speechcount
0,1apparition-mac,First Apparition,First Apparition,None,1.0
1,1citizen,First Citizen,First Citizen,None,3.0
2,1conspirator,First Conspirator,First Conspirator,None,3.0
3,1gentleman-oth,First Gentleman,First Gentleman,None,1.0
4,1goth,First Goth,First Goth,None,4.0
...,...,...,...,...,...
1262,york,Duke of York,YORK,cousin to the king,1.0
1263,YoungClifford,Young Clifford,YOUNG CLIFFORD,None,4.0
1264,YoungCoriolanus,Young Coriolanus,Young CORIOLANUS,son to Coriolanus,1.0
1265,YoungLucius,Young Lucius,Young LUCIUS,son to Lucius,11.0
1266,youngsiward,Young Siward,YOUNG SIWARD,Siward's son,4.0