# Lab Assignment 6: Creating and Connecting to Databases
## DS 6001

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

**Please note: you will not be able to use Rivanna for this lab as Rivanna is not set up to work with Docker or with Databases. Problem 1 will guide you through the steps to get databases running on your local system. This can be tricky, so if you have questions or would like some help, please let me know.**

## Problem 0
Import the following packages:

In [20]:
import numpy as np
import pandas as pd
import requests
import json
import sqlite3
import psycopg
import mysql.connector
from sqlalchemy import create_engine
import pymongo
from bson.json_util import loads, dumps
import dotenv
import os

## Problem 1
Many database systems run as external software on a computer. Some of the software is commercial (Oracle, Microsoft SQL Server), with limited free use and expensive enterprise level licenses. Other database software is entirely free and open source (MySQL, Postgres, SQlite, MongoDB). Regardless of whether the software is free or not, databases are notoriously difficult to install and start using. More than other kinds of software, database systems seem to run into many errors that are specific to the operating system of your computer. We used to ask students to install Postgres, MySQL, and Mongo, and it was a nightmare because everyone hit some sort of roadblock and those roadblocks were different for every student.

That's just how databases seem to be! Not just for students, but for everyone!

A growing standard practice in industry is to use **containers** to deploy database systems. Please read the [discussion of containers in the course textbook],(https://jkropko.github.io/surfing-the-data-pipeline/docker.html) if you haven't yet done so to familiarize yourself with the purpose and uses of containers and Docker.

This lab will guide you through the installation steps for the software you need to run database systems on your computer (problem 1), build a relational schema (problem 2), document those databases (problem 3), and connect to them through Python with (fingers crossed) as few problems as possible (problem 4 for relational databases, problem 5 for a NoSQL database).

With the exception of SQLite (which operates as a Python package), database systems run as external software that must be installed and run on your computer. To make the installation steps easier, you will need some configuration files that I wrote and saved in a GitHub repository. Open your terminal and then type
```
git clone https://github.com/jkropko/ds6001databases
```
If this command works, it will create a new directory within your current folder called "ds6001databases".

* Check that this folder exists and contains the following files: LICENSE, README.md, compose.yaml, and requirements.txt. (Don't worry if there are a couple extra files.)

* To make things easier, save the notebook file you will be using for your Lab 6 work inside the "ds6001databases" folder

### Part a
After cloning the ds6001databases repository, open and examine the file called compose.yaml. Then write answers to the following questions based on your reading of the section on [Docker compose files](https://jkropko.github.io/surfing-the-data-pipeline/docker.html#docker-compose-files) in the textbook:

1. How many containers are being launched when we execute this compose.yaml file?

2. What does each of the containers do?

3. Docker is building these containers from Docker image files that it downloads from a website. On what website are these Docker images stored? (You can provide the general name of this website, no need for the specific URLs)

[4 points]

Part a
1. Three containers are being launched, mysql, postgres and mongo.

2. 
- Specifies the version of MySQL, Uses .env for credentials, maps port 3306:3306, persists data with the mysqldata:/var/lib/mysql volume
- Specifies the versin of postgres, Uses .env for credentials, maps port 5432:5432, persists data with the postgresdata:/var/lib/postgresql/data volume
- Specifies the version of Mongo, Uses .env for credentials, maps port 27017:27017, persists data with the mongodata:/data/db volume

3. Docker Hub

### Part b
If you haven't yet done so, install Docker Desktop on your computer. Go to https://www.docker.com/products/docker-desktop/ and click on the Download button, making sure the operating system listed matches the operating system of your computer (for Apple users, make sure you get the correct version for your computer's processing chip. Click the Apple icon in the top-left corner of your screen, select "About This Mac", and see whether Intel or Apple M1 is listed under Chip).

Once Docker Desktop is installed, find the Docker Desktop program on your computer and run it.

To confirm that Docker Desktop is running, open a terminal and type `docker version`. Copy-and-paste what you see on the screen into your notebook.

If your terminal hangs without displaying anything, that likely means that Docker Desktop is not running or not properly installed. Double check that the Docker Desktop is running. If your terminal is hanging, you can press Control + C to regain access to the command prompt.

[4 points]

(base) mauriciotorres@Mauricios-MacBook-Pro ds6001databases2025 % docker version
Client:
 Version:           28.4.0
 API version:       1.51
 Go version:        go1.24.7
 Git commit:        d8eb465
 Built:             Wed Sep  3 20:56:26 2025
 OS/Arch:           darwin/arm64
 Context:           desktop-linux
Cannot connect to the Docker daemon at unix:///Users/mauriciotorres/.docker/run/docker.sock. Is the docker daemon running?

### Part c
Inside your "ds6001databases" folder, create a file named `.env`. Inside the .env file you need to choose passwords for the MySQL, PostgreSQL, and MongoDB databases, so type
```
MYSQL_ROOT_PASSWORD=password1
POSTGRES_PASSWORD=password2
MONGO_INITDB_ROOT_PASSWORD=password3
MONGO_INITDB_ROOT_USERNAME=mongo
mongo_init_db = mongodb
MYSQL_DATABASE=mysql
```
Change the passwords on the first three lines to whatever you want, but DON'T USE THE @ SYMBOL as that will cause problems. Leave the fourth, fifth, and sixth lines alone, as well as the names of each environmental variable.

Then run this line of Python code:
```
dotenv.load_dotenv()
```
If the .env file has successfully been created and saved in the correct location, the output of this code will be `True`. If `False`, double check the name and location of your file.

[4 points]

In [21]:
dotenv.load_dotenv()

True

Output is True, so the .env file has been created and saved in the correct location.

### Part d
In the terminal, make sure you are in the "ds6001databases" folder (you can check by typing `pwd`. If not, then use `cd` to navigate to the "ds6001databases" folder). Then type
```
docker compose up
```
This command launches all of the containers for running each of the database systems. If successful, you will see a long stream of output with messages that begin `ds6001databases-postgres-1`, `ds6001databases-mysql-1`, and `ds6001databases-mongo-1`. Copy and paste below the first six lines of this output. (Apologies for all the scrolling you might have to do!)

If you receive an error message or if the terminal hangs without displaying output, you will likely need to double-check that parts a, b, and c can still be completed successfully, and that you are working within the "ds6001databases" folder via the terminal.

[4 points]

(base) mauriciotorres@Mauricios-MacBook-Pro ds6001databases2025 % docker compose up
[+] Running 7/7
 ✔ Network ds6001databases2025_default        Created                                                            0.0s 
 ✔ Volume "ds6001databases2025_mysqldata"     Created                                                            0.0s 
 ✔ Volume "ds6001databases2025_postgresdata"  Created                                                            0.0s 
 ✔ Volume "ds6001databases2025_mongodata"     Created                                                            0.0s 
 ✔ Container ds6001databases2025-mysql-1      Created                                                            0.0s 
 ✔ Container ds6001databases2025-postgres-1   Created                                                            0.1s

### Part e
To confirm that the databases are running on your system, run the following Python code. 
```
# 1. Load needed environment variables
dotenv.load_dotenv()
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
MONGO_INITDB_ROOT_USERNAME = os.getenv('MONGO_INITDB_ROOT_USERNAME')
MONGO_INITDB_ROOT_PASSWORD = os.getenv('MONGO_INITDB_ROOT_PASSWORD')
MYSQL_ROOT_PASSWORD = os.getenv('MYSQL_ROOT_PASSWORD')

# 2. Test MySQL
dbserver = mysql.connector.connect(
    user='root', 
    password=MYSQL_ROOT_PASSWORD, 
    host='localhost',
    port='3306',
    #auth_plugin='mysql_native_password'
)

# 3. Test PostgreSQL
dbserver = psycopg.connect(
    user='postgres', 
    password=POSTGRES_PASSWORD, 
    host='localhost',
    port = '5432'
)
dbserver.autocommit = True

# 4. Test MongoDB
myclient = pymongo.MongoClient(f"mongodb://{MONGO_INITDB_ROOT_USERNAME}:{MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/")
myclient.list_databases()
```

If this code runs without error, you will see output that looks something like
```
<pymongo.synchronous.command_cursor.CommandCursor at 0x177d8b380>
```
and you are all set for working with these databases using Python.

If you do see an error, then you will need to troubleshoot. A few things to try:

* Double check that your work for parts a, b, c, and d can still run successfully.

* Read the error to determine which of the databases is causing the error, to narrow the problem down. Comment-out or delete this part of the code to see if the other databases are working.

* Check the output in the terminal where you issued the `docker compose up` command. Scroll up and down, and look for any lines that write that a container has exited.

* Try a reset of the containers by pressing Control+C in the terminal displaying Docker output, then `docker compose down`, then `docker compose up` again. Then try running the Python code again.

* Sometimes (especially if you've changed the database passwords at some point) incorrect passwords get saved in the Docker volumes and do not change when you make a change to your .env file. To fix this, press Control+C in the terminal displaying Docker output, then `docker compose down`. Then open the Docker Desktop, click on volumes, and find and delete the volumes associated with the "ds6001databases" containers. Then return to the terminal,type `docker compose up`, and try again.

* If all else fails, you are far from the only one to hit a roadblock at this stage. Send me or one of the TAs a message and we can help.

[4 points]

In [22]:
# 1. Load needed environment variables
dotenv.load_dotenv()
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
MONGO_INITDB_ROOT_USERNAME = os.getenv('MONGO_INITDB_ROOT_USERNAME')
MONGO_INITDB_ROOT_PASSWORD = os.getenv('MONGO_INITDB_ROOT_PASSWORD')
MYSQL_ROOT_PASSWORD = os.getenv('MYSQL_ROOT_PASSWORD')

# 2. Test MySQL
dbserver = mysql.connector.connect(
    user='root', 
    password=MYSQL_ROOT_PASSWORD, 
    host='localhost',
    port='3306',
    #auth_plugin='mysql_native_password'
)

# 3. Test PostgreSQL
dbserver = psycopg.connect(
    user='postgres', 
    password=POSTGRES_PASSWORD, 
    host='localhost',
    port = '5432'
)
dbserver.autocommit = True

# 4. Test MongoDB
myclient = pymongo.MongoClient(f"mongodb://{MONGO_INITDB_ROOT_USERNAME}:{MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/")
myclient.list_databases()

## Problem 2 
For this problem, I created fake data that represents patients who saw a doctor and received one or more prescriptions. Your goal in this problem is to reorganize the data into a database schema that conforms to E. F. Codd's 3rd normal form, and to document the resulting relational database using an ER diagram.

Wrapping your head around the normal form rules and building and documenting a database schema can be very difficult. First, grant yourself a lot of grace and give yourself plenty of time to take on this problem. Mastering database schema and documentation are central skills that distinguish a data engineer from a data scientist or analyst, so it is worth taking time to think about this task.

The data are listed on the following Google sheet: https://docs.google.com/spreadsheets/d/11wUk5dg39lmI-_O0SQ0M5_5VGgzuGJKvSyMq4Tyxc9M/edit?usp=sharing. For this problem you will be manipulating the data. I only included 10 rows to enable you to use any method you like for working with the data, including point-and-click data manipulation on Google sheets or Excel. Or you can use `pandas` if you like. We are emphasizing the product over the process for now. 

There are two tabs on this spreadsheet. The first tab contains the data and the second tab contains column descriptions and notes. These notes (some of which are unrealistic, but needed for this exercise) are:

* No two patients have the same name and date of birth, so `patient_name` and `date_of_birth` together uniquely identify a patient.

* No two drugs share the same brand name, so `prescribed_drug` uniquely identifies the drug.

* The data contain one row for every patient/prescription combination, and no patient receives more than one prescription for the same drug. So `patient_name`, `date_of_birth`, and `prescribed_drug` comprise a primary key in the original data.

* No two physicians in the data share the same name, so `prescribing_physician` uniquely identifies physicians.

* Patients do not change their insurance provider.

* Every physician works at exactly one hospital, no two hospitals share the same name, and every hospital exists at exactly one location.

Some things to keep in mind for this problem:

1. Remember that the first rule for 2nd normal form is that the data are in 1st normal form, and the first rule for 3rd normal form is that the data are already in 2nd normal form. So please focus on meeting the rules for 1st, then 2nd, then 3rd normal form *in that order*. 

2. Some students have never worked with databases before, but some have. If you have seen databases before, you have some ideas about how database schema tend to look. But if you arrange the data to match an idea of how databases often look, you will more than likely over-engineer the database by creating too many tables or unnecessary columns. Instead, focus on the explicit rules for each normal form and stop once those rules are met.


### Part a
In words, address the following points regarding 1st normal form:

* Describe the problem or problems that exist in the original data that prevent it from meeting the requirements for 1st normal form. 

* Describe a reorganization of the data that does conform to 1st normal form. If this schema has multiple tables, give each table a name that indicates what the rows in the table represent. List the columns that exist in each table, and if the number of rows in a table is different from the number of rows in the original data, explain why. 

(It will help you to make these edits to the data now, but you won't show your final data until part d)

[8 points]

Part a Answer:
There are only a couple problems with the originial data that prevents it from meeting the requirment for 1st normal form. Non-Atomic values in the, "prior_conditions", which stores lists and Inconsistent values, the column, "drug_cost", mixes both integers and decimals


To bring the data into 1NF, the main change is with the prior_conditions column. Right now it stores multiple conditions in a single cell, which is non-atomic. To fix this, those conditions should be split out into their own table so that each row contains just one patient–condition pairing. The prescriptions table would then keep all the single valued attributes like patient information, drug details, physician, and hospital.

The result is two tables: one for prescriptions (one row per prescription event) and one for patient conditions (one row per condition per patient). The prescriptions table will have the same number of rows as the original sheet, while the conditions table will have more rows since each condition gets its own record. This reorganization ensures that every column contains only one value and the schema now meets the requirements for 1NF.

Tables 1NF:
Prescriptions (patient info, prescribed_drug, drug details, physician, hospital, etc.)
PatientConditions (patient_id, condition)

### Part b
In words, address the following points regarding 2nd normal form:

* Describe the problem or problems that exist in the 1st normal form data that prevent it from meeting the requirements for 2nd normal form. 

* Describe a reorganization of the data that does conform to 2nd normal form. If this schema has multiple tables, give each table a name that connects to what the rows in the table represent. List the columns that exist in each table, and if the number of rows in a table is different from the number of rows in the original data, explain why. 

(It will help you to make these edits to the data now, but you won't show your final data until part d)

[8 points]

Part b Answer:

The problem lies in the use of a composite natural key like (patient_name, DOB, prescribed_drug) for the big table, which creates partial dependencies.
Patient attributes (patient_sex, patient_insurance) depend only on (patient_name, DOB). Drug attributes (DrugMaker, DrugCost) depend only on prescribed_drug. Physician/hospital attributes depend only on PrescribingPhysician. This violates 2NF because non-key columns depend on part of the composite key instead of the full key.

To fix this and meet 2NF, the data should be reorganized into separate tables so that each table’s non-key attributes depend only on the whole key.

Tables after 2NF:
Patients (patient_id, name, DOB, sex, insurance)
Drugs (drug_id, name, drug_maker, drug_cost)
Physicians (physician_id, name, medschool, years_experience, hospital_id)
Hospitals (hospital_id, hospital_name, hospital_location)
Prescriptions (prescription_id, patient_id, drug_id, physician_id)
PatientConditions (patient_id, condition)

### Part c
In words, address the following points regarding 3rd normal form:

* Describe the problem or problems that exist in the 2nd normal form data that prevent it from meeting the requirements for 3rd normal form. 

* Describe a reorganization of the data that does conform to 3rd normal form. If this schema has multiple tables, give each table a name that connects to what the rows in the table represent. List the columns that exist in each table, and if the number of rows in a table is different from the number of rows in the original data, explain why. 

(It will help you to make these edits to the data now, but you won't show your final data until part d)

[8 points]

Part c Answer:

The schema set up in 2NF still has transitive dependencies keeping it from meeting 3NF requirements, where non-key attributes depend on other non-key attributes rather than directly on the primary key.
In the Drugs table, if drug_maker determines drug_cost (e.g., pricing is tied to the maker), then drug_cost depends transitively on the key.
In the Physicians table, the hospital and hospital_location should not depend directly on the physician — they depend on the hospital itself.
This violates 3NF because non-key attributes must not depend on other non-key attributes.

To fix this, we separate those dependencies into their own tables:
Patients (patient_id, name, DOB, sex, insurance)
Conditions (condition_id, condition_name)
PatientConditions (patient_id, condition_id)
Drugs (drug_id, name, maker_id)
DrugMakers (maker_id, maker_name, pricing_info if needed)
Physicians (physician_id, name, medschool, years_experience, hospital_id)
Hospitals (hospital_id, hospital_name, hospital_location)
Prescriptions (prescription_id, patient_id, drug_id, physician_id)

### Part d
Display all of the tables in their entirety from the version of the data you designed for part (c) to meet the requirements of 3rd normal form. 

You can use several different methods to display these tables. You can download the tables to CSV format then upload them into your notebook using `pd.read_csv()`, or you can represent them using Markdown table syntax using a tool such as  https://www.tablesgenerator.com/markdown_tables, or you can include them as screenshot images if you want. (Please don't just provide external links however, as that will slow down our grading)

[4 points]

In [23]:

patients = pd.read_csv("Patients.csv")
conditions = pd.read_csv("Conditions.csv")
patient_conditions = pd.read_csv("PatientConditions.csv")
drugmakers = pd.read_csv("DrugMakers.csv")
drugs = pd.read_csv("Drugs.csv")
hospitals = pd.read_csv("Hospitals.csv")
physicians = pd.read_csv("Physicians.csv")
prescriptions = pd.read_csv("Prescriptions.csv")

# Display all tables
print("Patients")
display(patients.head(2))

print("Conditions")
display(conditions.head(2))

print("PatientConditions")
display(patient_conditions.head(2))

print("DrugMakers")
display(drugmakers.head(2))

print("Drugs")
display(drugs.head(2))

print("Hospitals")
display(hospitals.head(2))

print("Physicians")
display(physicians.head(2))

print("Prescriptions")
display(prescriptions.head(2))

Patients

   patient_id        patient_name date_of_birth patient_sex patient_insurance
0           1  Nkemdilim Arendonk     2/21/1962           M             Aetna
1           2     Raniero Coumans     8/15/1990           M             Cigna

Conditions

   condition_id condition_name
0           1.0      Pneumonia
1           2.0       Diabetes

PatientConditions

   patient_id  condition_id
0           1             1
1           1             2

DrugMakers

   maker_id     drug_maker
0         1  USAntibiotics
1         2         Pfizer

Drugs

   drug_id  drug_name  maker_id  drug_cost
0        1     Amoxil         1      14.62
1        2  Micronase         2      20.55

Hospitals

   hospital_id                        hospital hospital_location
0            1     UPMC Presbyterian Shadyside    Pittsburgh, PA
1            2  Northwestern Memorial Hospital       Chicago, IL

Physicians

,physician_id,prescribing_physician,physician_medschool,physician_years_experience,hospital_id
0,1,Earnest Caro,University of California (Irvine),14,1
1,2,Pamela English,University of Michigan,29,2

Prescriptions

   prescription_id  patient_id  drug_id  physician_id
0                1           1        1             1
1                2           1        2             1

## Problem 3
For this problem, you will be documenting and a building database that contains the entire collected works of Shakespeare.

<img src="https://image.cagle.com/178551/750/178551.png" width="300" alt='Shakespeare Twitter comic'>

The data were collected by [Catherine Devlin](https://github.com/catherinedevlin/opensourceshakespeare) for https://opensourceshakespeare.org/. The database will have five tables, and they will be brought into your Python environment as `pandas` dataframes in 3rd normal form  by running this code:

In [ ]:
repo = 'https://github.com/jkropko/DS-6001/raw/master/localdata/'
works = pd.read_csv(repo + 'Works.csv')
characters = pd.read_csv(repo + 'Characters.csv')
chapters = pd.read_csv(repo + 'Chapters.csv')
paragraphs = pd.read_csv(repo + 'Paragraphs.csv')


characters.columns = characters.columns.str.lower() 
chapters.columns = chapters.columns.str.lower()
paragraphs.columns = paragraphs.columns.str.lower()
works.columns = works.columns.str.lower()


charworks = characters[['charid', 'works']]
charworks.loc[:,'works'] = charworks['works'].str.split(',')
charworks = charworks.explode('works')
charworks = charworks.rename({'works':'workid'}, axis=1)
characters = characters.drop('works', axis=1)

#Removes empty rows
chapters = chapters.query("~chapterid.isnull()")
paragraphs = paragraphs.query("~paragraphid.isnull()")
charworks = charworks.query("~workid.isnull()")


paragraphs = pd.merge(paragraphs, 
                      chapters.drop('description', axis=1),
                      how='inner', 
                      on=['workid', 'section', 'chapter'])


paragraphs = paragraphs.drop(['paragraphtype', 'section', 'chapter'], 
                             axis=1)

The five tables are:

**works**: One row per work authored by Shakespeare, with columns:
* `workid`: (primary key) a unique ID without spaces or special characters for the work
* `title`: the title, such as "Twelfth Night"
* `longtitle`: a longer title, if there is one, such as "Twelfth Night, Or What You Will"
* `date`: year of publication
* `genretype`: `t` is a tragedy, such as *Romeo and Juliet* and *Hamlet*; `c` is a comedy, such as *A Midsummer Night's Dream* and *As You Like It*; `h` is a history, such as *Henry V* and *Richard III*; `s` refers to Shakespeare's sonnets; `p` is a narrative (non-sonnet) poem, such as *Venus and Adonis* and *Passionate Pilgrim*
* `notes`: Column for notes from the database maintainer, currently all `NaN`
* `source`: whether the text was originally downloaded from the [Moby Project lexicon](https://en.wikipedia.org/wiki/Moby_Project) or [Project Gutenberg](https://www.gutenberg.org/). 
* `totalwords`: Total words in the work
* `totalparagraphs`: Total number of lines of dialogue for plays, or stanzas for poems

**characters**: One row per character that appears in at least one work by Shakespeare. Some characters, such as Antony or Henry IV, appear in multiple works. Columns:
* `charid`: (primary key) a unique ID for a character
* `charname`: character's name (some characters are different but have the same name, such as the First Musician in Othello and the First Musician in Romeo and Juliet). For poems, the character is "Poet" 
* `abbrev`: an abbreviation of the character's name, if needed for reference to some other analyses
* `description`: a longer description of who the character is, if available
* `speechcount`: number of lines of dialogue delivered by the character throughout the works the character appears in

**chapters**: One row for every unique scene in a play, or for every distinct poem in a collection of poems. Columns:
* `workid`: a unique ID without spaces or special characters for the work
* `chapterid`: (primary key) a unique ID for the scene/poem
* `section`: the scene/poem number
* `chapter`: the act number, if available
* `description`: short description of where the scene takes place, for plays

**paragraphs**: One row for every line of dialogue that appears in a Shakespeare play, or for every distinct poem in a collection of poems. Columns:
* `workid`: a unique ID without spaces or special characters for the work
* `paragraphid`: (primary key) a unique ID for the line of dialogue/poem
* `paragraphnum`: the position of the paragraph within the ordered list of paragraphs within a chapter
* `charid`: the unique ID of the character delivering the line of dialogue/poem
* `plaintext`: the text of the dialogue/poem
* `phonetictext`: the text of the dialogue/poem in phonetic text, useful for training computers to generate audio of this spoken text
* `stemtext`: the stems of the words in the text, useful for text analyses such as sentiment analysis
* `charcount`: number of characters in the line
* `wordcount`: number of words in the line
* `chapterid`: unique ID for the scene/poem

**charworks**: One row for every unique combination of character and play. Most characters appear once, but some (such as Antony or Henry IV) appear multiple times. Columns
* `charid`: (primary key) unique ID for the character
* `workid`: (primary key) unique ID for the work

### Part a

Please refer to the [textbook's discussion of ER diagrams](https://jkropko.github.io/surfing-the-data-pipeline/ch6.html#entity-relationship-diagrams) as you complete this problem.

For each of the following pairs of tables, write
1. Which column or columns the tables should be joined on
2. A description of your reasoning, in plain language, for whether each table matches to one or many rows in the other
3. Whether there is a one-to-one, one-to-many, many-to-one, or many-to-many relationship between the tables
4. Write the database markup language (DBML) code to represent this kind of a relationship. 

If we are connecting two tables named `table_a` and `table_b` on a column named `joincolumn` in each table, then the DBML syntax is 

* `Ref: table_a.joincolumn - table_b.joincolumn` if the relationship from `table_a` to `table_b` is one-to-one

* `Ref: table_a.joincolumn < table_b.joincolumn` if the relationship from `table_a` to `table_b` is one-to-many

* `Ref: table_a.joincolumn > table_b.joincolumn` if the relationship from `table_a` to `table_b` is many-to-one

* `Ref: table_a.joincolumn <> table_b.joincolumn` if the relationship from `table_a` to `table_b` is many-to-many

If there are multiple columns that must be joined on, provide the DBML code for each of these columns.

#### Part a, problem i
**charworks** and **works** [2 points]

1. charworks.workid = works.workid

2. Each row in charworks ties a character to a specific work.

3. many-to-one from charworks to works (a work can appear in many charworks rows; each charworks row belongs to one work).

4. Ref: charworks.workid > works.workid

#### Part a, problem ii
**characters** and **charworks** [2 points]

1. characters.charid = charworks.charid

2. charworks is the bridge table linking a character to works.

3. one-to-many from characters to charworks (a character can be linked to many rows in charworks).

4. Ref: characters.charid < charworks.charid

#### Part a, problem iii
**works** and **paragraphs** [2 points]

1. works.workid = paragraphs.workid

2. Every paragraph belongs to exactly one work.

3. one-to-many from works to paragraphs.

4. Ref: works.workid < paragraphs.workid

#### Part a, problem iv
**chapters** and **works** [2 points]

1. chapters.workid = works.workid

2. Chapters are contained within a work.

3. many-to-one from chapters to works (one work has many chapters).

4. Ref: chapters.workid > works.workid

#### Part a, problem v
**paragraphs** and **chapters** [2 points]

1. (paragraphs.workid, paragraphs.chapterid) = (chapters.workid, chapters.chapterid)

2. A chapter id can repeat across different works, so both keys are needed.

3. Many-to-one from paragraphs to chapters.

4. Ref: paragraphs.(workid, chapterid) > chapters.(workid, chapterid)

#### Part a, problem vi
**characters** and **paragraphs** (count groups that might say a line in unison, like Chorus or Witches, as one character) [2 points]

1. characters.charid = paragraphs.charid

2. A speaking paragraph is attributed to one character id (or one shared “group” id).

3. one-to-many from characters to paragraphs.

4. Ref: characters.charid < paragraphs.charid

### Part b

Please find the "Using dbdiagram.io and dbdocs.io to Document Your Database" page on Canvas. It is available under Modules and "Getting Started with the Tools We'll Be Using". Read the page and watch the video about using dbdocs.io and dbdiagram.io to document a relational database with an ER diagram.

Use https://dbdiagram.io to create an ER diagram for the five Shakespeare data tables, then publish this diagram to a stable URL by pressing the "Publish to dbdocs" button. Paste a link here to your ER diagram on DBdocs.io. Then paste your DBML code from dbdiagrams.io into the box below.

A few notes:

You can use the `pandas_df_to_dbml()` function, defined below, to generate database markup language (DBML) code for each table that also lists each column's data type, then paste this code into dbdiagram.io (use `print()` around the output to see the correct formatting):

In [ ]:
def pandas_df_to_dbml(df: pd.DataFrame, table_name: str) -> str:
    """
    Converts a pandas DataFrame to a DBML string.

    Args:
        df: The pandas DataFrame to convert.
        table_name: The name of the table in the DBML schema.

    Returns:
        A DBML string representing the DataFrame schema.
    """

    dbml_string = f"Table {table_name} {{\n"

    for column_name, column_type in df.dtypes.items():
        dbml_type = map_pandas_dtype_to_dbml_type(column_type)
        dbml_string += f"  {column_name} {dbml_type}\n"

    dbml_string += "}\n"
    return dbml_string

def map_pandas_dtype_to_dbml_type(dtype) -> str:
    """Maps a pandas dtype to a DBML type."""
    dtype_name = str(dtype)
    if "int" in dtype_name:
      return "int"
    if "float" in dtype_name:
      return "float"
    if "datetime" in dtype_name:
        return "datetime"
    return "varchar"

Use the syntax [pk] after a column name and data type to designate the columns that are primary keys in each table. In this case the primary keys are 

| Table      | Primary Key column(s) |
|------------|-----------------------|
| works      | workid                |
| characters | charid                |
| paragraphs | paragraphid           |
| chapters   | chapterid             |
| charworks  | charid, workid        |

To draw the lines linking one table to another, include the `Ref:` syntax that you wrote for your answers to part (a).

[4 points]

Here is the link to my tables 

https://dbdocs.io/matorres0925/Lab6_MAT

```
Make sure you get the .ipynb file for this lab from the module 6 page on Canvas

Then when you double-click this box, you'll see three backticks before and after this text. Leave those alone
 
Type your code here, between the backticks


Table works {
  workid varchar [pk]      
  title varchar
  longtitle varchar
  date varchar
  genretype varchar
  notes varchar
  source varchar
  totalwords int
  totalparagraphs int
}

Table characters {
  charid varchar [pk]       
  charname varchar
  abbr varchar
  description varchar
  speechcount int
}

Table chapters {
  workid varchar
  chapterid varchar
  section int
  chapter int
  description varchar

  Indexes {
    (workid, chapterid) [pk]
  }
}

Table paragraphs {
  paragraphid varchar [pk] 
  workid varchar
  charid varchar
  chapterid varchar
  para int
  paragraph varchar
  plain varchar
  phonetic varchar
  stemtext varchar
  charcount int
  wordcount int
  chapterref varchar
}

Table charworks {
  charid varchar
  workid varchar

  Indexes {
    (charid, workid) [pk]    
  }
}

/* Relationships (IE/crow’s-feet) */
Ref: charworks.workid > works.workid
Ref: characters.charid < charworks.charid
Ref: works.workid < paragraphs.workid
Ref: chapters.workid > works.workid
Ref: paragraphs.(workid, chapterid) > chapters.(workid, chapterid)
Ref: characters.charid < paragraphs.charid
```

## Problem 4
For this problem, you will use the five dataframes that comprise the Shakespeare database you used in problem 3 to initialize local databases using SQlite, MySQL, and PostgreSQL. 

All of the methods for initializing and connecting to databases in Python are listed in the [textbook](https://jkropko.github.io/surfing-the-data-pipeline/ch6.html#working-with-databases-in-python). Note that there are differences in code that depend on whether you are using SQlite, MySQL, or PostgreSQL. 

For creating databases on the MySQL and PostgreSQL servers, you will connect directly to the database server and use the `.cursor()` method to interact with it. But once the database exists, please use the `pd.to_sql()` and `pd.read_sql_query()` methods from `pandas` and the `create_engine()` method from `sqlalchemy` (and not the `.cursor()` approach) to add data to or retrieve data from the database. 

Before attempting this problem, please make sure your work for problem 1 runs without error, which will ensure your docker containers for MySQL and PostgreSQL are ready to use (SQlite does not require external software and can run without Docker).

### Part a
Initialize a new Shakespeare database using SQlite via the `sqlite3` package. Next use the `pd.to_sql()` method to add the five Shakespeare dataframes to this database. Then, to prove that this worked, issue the following SQL query to the database which should display a dataframe listing all characters from Shakespeare's plays with more than 200 lines of dialogue (and the Poet too):
```
SELECT charname, description, speechcount
FROM characters
WHERE speechcount > 200
```
Finally, after running the query, use the `.commit()` and `.close()` methods on the Python variable containing the database connection to save your changes and prevent further changes.

[8 points]

In [ ]:
works = pd.read_csv("Works.csv")
characters = pd.read_csv("Characters.csv")
chapters = pd.read_csv("Chapters.csv")
paragraphs = pd.read_csv("Paragraphs.csv")

# Creates SQLite connection
conn = sqlite3.connect("shakespeare.sqlite")

# Writes tables to the database
works.to_sql("works", conn, if_exists="replace", index=False)
characters.to_sql("characters", conn, if_exists="replace", index=False)
chapters.to_sql("chapters", conn, if_exists="replace", index=False)
paragraphs.to_sql("paragraphs", conn, if_exists="replace", index=False)

# Runs the test query
query = """
SELECT CharName, Description, SpeechCount
FROM characters
WHERE SpeechCount > 200
"""
result = pd.read_sql(query, conn)
print(result)

conn.commit()
conn.close()

              CharName                                        Description  \
0               Antony                                  (Marcus Antonius)
1            Cleopatra                                     queen of Egypt
2             Falstaff                                  Sir John Falstaff
3   Duke of Gloucester                                brother to the King
4               Hamlet  son of the former king and nephew to the prese...
5              Henry V                            Prince, King of England
6                 Iago                              Othello's ancient (?)
7              Othello   A noble Moor in the service of the Ventian state
8                 Poet                  the voice of Shakespeare's poetry
9          Richard III  son of Richard Plantagenet, duke of York; was ...
10            Rosalind                      daughter to the banished Duke
11               Timon                                               None

    SpeechCount
0         253.0
1         204.0
2         471.0
3         285.0
4         358.0
5         377.0
6         272.0
7         274.0
8         733.0
9         246.0
10        201.0
11        210.0

### Part b
Use the `dotenv` package to import your MySQL database password into your Python environment (don't expose this password in your code). Then use this password to initialize a new Shakespeare database using MySQL and the `mysql.connector` package. 

Next, use the `create_engine()` method from `sqlalchemy` and the `pd.to_sql()` method to add the five Shakespeare dataframes to this database. Then, to prove that this worked, use the `pd.read_sql_query()` method to issue the following SQL query to the database
```
SELECT charname, description, speechcount
FROM characters
WHERE speechcount > 200
```
Finally, after running the query, use the `.commit()` and `.close()` methods on the Python variable containing the database connection to save your changes and prevent further changes.

[8 points]

In [25]:
import os
import dotenv
from sqlalchemy import create_engine, text
import pandas as pd

# Load environment variables
dotenv.load_dotenv()

USER = os.getenv("MYSQL_USER")
PWD  = os.getenv("MYSQL_PASSWORD")
HOST = os.getenv("MYSQL_HOST", "localhost")
PORT = int(os.getenv("MYSQL_PORT", "3306"))
DB   = os.getenv("MYSQL_DB", "shakespeare")

# Connect to MySQL server (create database if not exists)
engine_server = create_engine(f"mysql+mysqlconnector://{USER}:{PWD}@{HOST}:{PORT}")
with engine_server.begin() as conn:
    conn.execute(text(f"CREATE DATABASE IF NOT EXISTS {DB} CHARACTER SET utf8mb4"))
engine_server.dispose()

# Connect directly to the Shakespeare DB
engine = create_engine(f"mysql+mysqlconnector://{USER}:{PWD}@{HOST}:{PORT}/{DB}?charset=utf8mb4")

# Load CSVs
works       = pd.read_csv("Works.csv")
characters  = pd.read_csv("Characters.csv")
chapters    = pd.read_csv("Chapters.csv")
paragraphs  = pd.read_csv("Paragraphs.csv")

# Write to MySQL
with engine.begin() as conn:  
    works.to_sql("works", conn, if_exists="replace", index=False)
    characters.to_sql("characters", conn, if_exists="replace", index=False)
    chapters.to_sql("chapters", conn, if_exists="replace", index=False)
    paragraphs.to_sql("paragraphs", conn, if_exists="replace", index=False)

# Run query
q = """
SELECT charname, description, speechcount
FROM characters
WHERE speechcount > 200;
"""
df_check = pd.read_sql_query(q, engine)
display(df_check)

engine.dispose()

,charname,description,speechcount
0,Antony,(Marcus Antonius),253.0
1,Cleopatra,queen of Egypt,204.0
2,Falstaff,Sir John Falstaff,471.0
3,Duke of Gloucester,brother to the King,285.0
4,Hamlet,son of the former king and nephew to the prese...,358.0
5,Henry V,"Prince, King of England",377.0
6,Iago,Othello's ancient (?),272.0
7,Othello,A noble Moor in the service of the Ventian state,274.0
8,Poet,the voice of Shakespeare's poetry,733.0
9,Richard III,"son of Richard Plantagenet, duke of York; was ...",246.0
10,Rosalind,daughter to the banished Duke,201.0
11,Timon,None,210.0

#### Part c
Use the `dotenv` package to import your PostgreSQL database password into your Python environment (don't expose this password in your code). Then use this password to initialize a new Shakespeare database using PostgreSQL and the `psycopg` package. (For PostgreSQL, you will need to set the `.autocommit` attribute of Python variable that connects to the PostgreSQL server to `True`, or you will receive cryptic errors.)

Next, use the `create_engine()` method from `sqlalchemy` and the `pd.to_sql()` method to add the five Shakespeare dataframes to this database (don't worry if a negative number is displayed. This is a known issue with PostgreSQL in Python but is not indicative of a problem). Then, to prove that this worked, use the `pd.read_sql_query()` method to issue the following SQL query to the database
```
SELECT charname, description, speechcount
FROM characters
WHERE speechcount > 200
```
Finally, after running the query, use the `.commit()` and `.close()` methods on the Python variable containing the database connection to save your changes and prevent further changes.

(If you see an error like `ObjectInUse: database "shakespeare" is being accessed by other users DETAIL:  There is 1 other session using the database.`, go to the terminal, type Control+C, then `docker compose down`, then `docker compose up`, then try again.)

[8 points]

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
import dotenv

# 1) Load env
dotenv.load_dotenv()

PGUSER = os.getenv("POSTGRES_USER", "postgres")
PGPWD  = os.getenv("POSTGRES_PASSWORD")
PGHOST = os.getenv("POSTGRES_HOST", "localhost")
PGPORT = int(os.getenv("POSTGRES_PORT", "5432"))
PGDB   = os.getenv("POSTGRES_DB", "shakespeare")

assert PGPWD, "POSTGRES_PASSWORD is missing in your .env"


server_url = f"postgresql+psycopg://{PGUSER}:{PGPWD}@{PGHOST}:{PGPORT}/postgres"
engine_server = create_engine(server_url, isolation_level="AUTOCOMMIT")

with engine_server.begin() as conn:
    exists = conn.execute(
        text("SELECT 1 FROM pg_database WHERE datname = :n"), {"n": PGDB}
    ).scalar()
    if not exists:
        conn.execute(text(f'CREATE DATABASE "{PGDB}"'))

engine_server.dispose()


db_url = f"postgresql+psycopg://{PGUSER}:{PGPWD}@{PGHOST}:{PGPORT}/{PGDB}"
engine = create_engine(db_url)


works      = pd.read_csv("Works.csv")
characters = pd.read_csv("Characters.csv")
chapters   = pd.read_csv("Chapters.csv")
paragraphs = pd.read_csv("Paragraphs.csv")

for df in (works, characters, chapters, paragraphs):
    df.columns = [c.lower() for c in df.columns]


with engine.begin() as conn:
    works.to_sql("works", conn, if_exists="replace", index=False)
    characters.to_sql("characters", conn, if_exists="replace", index=False)
    chapters.to_sql("chapters", conn, if_exists="replace", index=False)
    paragraphs.to_sql("paragraphs", conn, if_exists="replace", index=False)

q = """
SELECT charname, description, speechcount
FROM characters
WHERE speechcount > 200;
"""
df_check = pd.read_sql_query(q, engine)
display(df_check)

engine.dispose()

,charname,description,speechcount
0,Antony,(Marcus Antonius),253.0
1,Cleopatra,queen of Egypt,204.0
2,Falstaff,Sir John Falstaff,471.0
3,Duke of Gloucester,brother to the King,285.0
4,Hamlet,son of the former king and nephew to the prese...,358.0
5,Henry V,"Prince, King of England",377.0
6,Iago,Othello's ancient (?),272.0
7,Othello,A noble Moor in the service of the Ventian state,274.0
8,Poet,the voice of Shakespeare's poetry,733.0
9,Richard III,"son of Richard Plantagenet, duke of York; was ...",246.0
10,Rosalind,daughter to the banished Duke,201.0
11,Timon,None,210.0

### Problem 5
[Colin Mitchell](http://muffinlabs.com/) is a web-developer and artist who has a bunch of cool projects that play with what data can do on the internet. One of his projects is [Today in History](https://history.muffinlabs.com/), which provides an API to access all the Wikipedia pages for historical events that happened on this day in JSON format. The records in this JSON are stored in the `['data']['events']` path. Here's the first listing for today (the day I ran this code):

In [ ]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']
events[0]

{'year': '768',
 'text': 'Carloman I and Charlemagne are crowned kings of the Franks.',
 'html': '768 - <a href="https://wikipedia.org/wiki/Carloman_I" title="Carloman I">Carloman I</a> and <a href="https://wikipedia.org/wiki/Charlemagne" title="Charlemagne">Charlemagne</a> are crowned kings of the Franks.',
 'no_year_html': '<a href="https://wikipedia.org/wiki/Carloman_I" title="Carloman I">Carloman I</a> and <a href="https://wikipedia.org/wiki/Charlemagne" title="Charlemagne">Charlemagne</a> are crowned kings of the Franks.',
 'links': [{'title': 'Carloman I',
   'link': 'https://wikipedia.org/wiki/Carloman_I'},
  {'title': 'Charlemagne', 'link': 'https://wikipedia.org/wiki/Charlemagne'}]}

Here's the count of total events for the day I ran this code:

In [ ]:
len(events)

59

For this problem, you will use MongoDB and the `pymongo` package to create a local document store NoSQL database containing these historical events.

### Part a
First, check that your work for problem 1 is still running without error. If so, then you have a MongoDB server running inside a Docker container. 

Use `pymongo` to connect to the local MongoDB client, create a database named "history" and a collection within that database named "today". Because you will probably be running this code several times as you work, debugging as you go along, it's useful write code that deletes any existing "today" collections before creating a new "today" collection.

[4 points]

In [1]:
import os, json, requests
from pymongo import MongoClient
from dotenv import load_dotenv

resp = requests.get("https://history.muffinlabs.com/date")
resp.raise_for_status()
history_json = resp.json()
events = history_json["data"]["Events"] 

load_dotenv()

MONGO_USER = os.getenv("MONGO_INITDB_ROOT_USERNAME", "")
MONGO_PWD  = os.getenv("MONGO_INITDB_ROOT_PASSWORD", "")
MONGO_HOST = os.getenv("MONGO_HOST", "localhost")
MONGO_PORT = os.getenv("MONGO_PORT", "27017")

if MONGO_USER and MONGO_PWD:
    uri = f"mongodb://{MONGO_USER}:{MONGO_PWD}@{MONGO_HOST}:{MONGO_PORT}/?authSource=admin"
else:
    uri = f"mongodb://{MONGO_HOST}:{MONGO_PORT}/"

client = MongoClient(uri)
db = client["history"]
coll = db["today"]

coll.drop()

print(f"Pulled {len(events)} events; cleared 'today' collection.")

Pulled 61 events; cleared 'today' collection.

### Part b
Insert all of the records in `events` into this collection. [4 points]

In [2]:
coll.insert_many(events)

print(f"Inserted {len(events)} events into 'today' collection.")

Inserted 61 events into 'today' collection.

### Part c
Issue the following query to find all of the records whose text contain the word "Virginia":
```
query = {
    "text":{
        "$regex": 'England'
    }
}
```
If there are no results that contain the word "England", choose a different word like "China" or "war". Display the count of the number of documents that match this query, display the output of the query, and generate a JSON formatted variable containing the output. [4 points]

In [3]:
query = { 
    "text": { 
        "$regex": "England", "$options": "i" 
        } 
        }

results = list(coll.find(query))
print(f"Found {len(results)} matching records.")

# Display first few results
for r in results[:5]:
    print(r["year"], "-", r["text"])

# Optional: save to JSON
import json
results_json = json.dumps(results, indent=2, default=str)

Found 3 matching records.
1660 - The nine regicides who signed the death warrant of Charles I of England are hanged, drawn and quartered.
1662 - Charles II of England sells Dunkirk to Louis XIV of France for 40,000 pounds.
1956 - The first commercial nuclear power station is officially opened by Queen Elizabeth II in Sellafield, England.

## Problem 6
Once you are finished working with databases, clear up the space on your computer by going to the terminal that you used to launch the Docker containers, press CONTROL + C on your keyboard to stop the containers, then type `docker compose down` to disconnect the volumes and networks. It's a good idea to make a practice out of doing these steps when you finish working with databases.

This problem isn't graded, and no need to write anything. But please do this anyway.

Completed